<a href="https://colab.research.google.com/github/alemayehutseganew/Mycoolwork/blob/master/MLpandaslastdate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
s1=pd.Series([10,20,30,50])
print('the series are',s1)

In [ ]:
s2=pd.Series([10,20,30,40],index=[0,1,2,3])
print('the series are \n',s2)

In [ ]:
#if we import csv file example car data
#df_car=pd.read_csv("copy path and paste here")
#df_car.head()
#df_car.drop('car name',inplace==True,axis=1)

In [ ]:
import pandas as pd
df_car=pd.read_csv('/content/car data.csv')
df_car.head()

  Car_Name  Year  Selling_Price  ...  Seller_Type  Transmission Owner
0     ritz  2014           3.35  ...       Dealer        Manual     0
1      sx4  2013           4.75  ...       Dealer        Manual     0
2     ciaz  2017           7.25  ...       Dealer        Manual     0
3  wagon r  2011           2.85  ...       Dealer        Manual     0
4    swift  2014           4.60  ...       Dealer        Manual     0

[5 rows x 9 columns]

In [ ]:
df_car.drop('car_name',inplace=True,axis=1)

In [ ]:
df_car.head()

  Car_Name  Year  Selling_Price  ...  Seller_Type  Transmission Owner
0     ritz  2014           3.35  ...       Dealer        Manual     0
1      sx4  2013           4.75  ...       Dealer        Manual     0
2     ciaz  2017           7.25  ...       Dealer        Manual     0
3  wagon r  2011           2.85  ...       Dealer        Manual     0
4    swift  2014           4.60  ...       Dealer        Manual     0

[5 rows x 9 columns]

In [ ]:
print('fuel type',df_car['Fuel_Type'].unique())
print('seller type',df_car['Seller_Type'].unique())
print('transmission type',df_car['Transmission'].unique())
print('owner',df_car['Owner'].unique)

fuel type ['Petrol' 'Diesel' 'CNG']
seller type ['Dealer' 'Individual']
transmission type ['Manual' 'Automatic']
owner <bound method Series.unique of 0      0
1      0
2      0
3      0
4      0
      ..
296    0
297    0
298    0
299    0
300    0
Name: Owner, Length: 301, dtype: int64>

In [ ]:
df_final_car=pd.get_dummies(df_car)
df_final_car.head(20)

    Year  Selling_Price  ...  Transmission_Automatic  Transmission_Manual
0   2014           3.35  ...                       0                    1
1   2013           4.75  ...                       0                    1
2   2017           7.25  ...                       0                    1
3   2011           2.85  ...                       0                    1
4   2014           4.60  ...                       0                    1
5   2018           9.25  ...                       0                    1
6   2015           6.75  ...                       0                    1
7   2015           6.50  ...                       0                    1
8   2016           8.75  ...                       0                    1
9   2015           7.45  ...                       0                    1
10  2017           2.85  ...                       0                    1
11  2015           6.85  ...                       0                    1
12  2015           7.50  ...                       1                    0
13  2015           6.10  ...                       0                    1
14  2009           2.25  ...                       0                    1
15  2016           7.75  ...                       0                    1
16  2015           7.25  ...                       0                    1
17  2016           7.75  ...                       0                    1
18  2015           3.25  ...                       0                    1
19  2010           2.65  ...                       0                    1

[20 rows x 110 columns]

In [ ]:
df_car

    Car_Name  Year  Selling_Price  ...  Seller_Type  Transmission Owner
0       ritz  2014           3.35  ...       Dealer        Manual     0
1        sx4  2013           4.75  ...       Dealer        Manual     0
2       ciaz  2017           7.25  ...       Dealer        Manual     0
3    wagon r  2011           2.85  ...       Dealer        Manual     0
4      swift  2014           4.60  ...       Dealer        Manual     0
..       ...   ...            ...  ...          ...           ...   ...
296     city  2016           9.50  ...       Dealer        Manual     0
297     brio  2015           4.00  ...       Dealer        Manual     0
298     city  2009           3.35  ...       Dealer        Manual     0
299     city  2017          11.50  ...       Dealer        Manual     0
300     brio  2016           5.30  ...       Dealer        Manual     0

[301 rows x 9 columns]

In [ ]:
df_final_car=pd.get_dummies(df_car,drop_first=True)
df_final_car.head()

   Year  Selling_Price  ...  Seller_Type_Individual  Transmission_Manual
0  2014           3.35  ...                       0                    1
1  2013           4.75  ...                       0                    1
2  2017           7.25  ...                       0                    1
3  2011           2.85  ...                       0                    1
4  2014           4.60  ...                       0                    1

[5 rows x 106 columns]

In [ ]:
pd.write_csv('',df_car)

AttributeError: ignored

In [ ]:
df_car.to_csv('new car_data.csv')

In [36]:
            #POKEMON.CSV
import pandas as pd
import numpy as np

df_pokemon=pd.read_csv('/content/new car_data.csv')
df_pokemon

     Unnamed: 0  Year  Selling_Price  ...  Seller_Type  Transmission Owner
0             0  2014           3.35  ...       Dealer        Manual     0
1             1  2013           4.75  ...       Dealer        Manual     0
2             2  2017           7.25  ...       Dealer        Manual     0
3             3  2011           2.85  ...       Dealer        Manual     0
4             4  2014           4.60  ...       Dealer        Manual     0
..          ...   ...            ...  ...          ...           ...   ...
296         296  2016           9.50  ...       Dealer        Manual     0
297         297  2015           4.00  ...       Dealer        Manual     0
298         298  2009           3.35  ...       Dealer        Manual     0
299         299  2017          11.50  ...       Dealer        Manual     0
300         300  2016           5.30  ...       Dealer        Manual     0

[301 rows x 9 columns]

In [39]:
userp=input('Enter pokemon name')
#computerp=np.random()
total=np.total(int(df_pokemon))
print(total)
#for i in range(10):

#print(computerp)

Enter pokemon name2

AttributeError: ignored

In [42]:
#'''
#Pandas Assignment 2

#Q1.print top most powerfull pokemons on the basis of their total/average total
#Q2.i)Take pokemon name from the user and print the details of that particular pokemon,say usr_pok.
 # ii)Generate random number and using that number,display a particular pokemon,say comp_pok
 # iii) Now depending on the above two questions,compare the two pokemons,such as 
  #    usr_pok and comp_pok on the basis of their total.
  #    Note: if they have the same total,their Legendary will be taken into consideration
##'''

import pandas as pd

import numpy as np

df=pd.read_csv("/content/new car_data.csv")
df2=df.groupby(['Type']).mean().sort_values('Total',ascending=False)
TopType=df2.loc[:,:'Total']
print('____The most powerfull type of pokemons______')
print(TopType)

NameError: ignored

In [ ]:
#userpokemon

usrpok=input("please enter the pokemon Name")
grupbyName=df.groupby('Name')
userPok=grupbyName.get_group(usrpok)
userPok

In [ ]:
import random as rand
#let's generate the random number as index for grouping purpose

maxind=rand.randint(-1,800)
computerPok=df.loc[:maxind,:]
print('========The details of computer pokemon===========')
computer_pokman=computerPok.iloc[maxind]
computer_pokman

In [ ]:
#Now let's compare them on the basis of their total
def comparThem():
  if (int (computer_pokman['Total'])==int (userPok['Total'])):
    if (computer_pokman['Legendary']==True and userPok['Legendary']==True):
      print(computer_pokman['Name']," and ",userPok['Name']," are the same")
    elif (computer_pokman['Legendary']==True and userPok['Legendary']==False):
      print(computer_pokman['Name']," is the most powerfull")
    else:
      print(userPok['Name']," is powerfull")
  elif (int (computer_pokman['Total']) > int (userPok['Total'])):
    print(computer_pokman['Name']," is the winner")
  else:
    print(userPok['Name']," are the winners")
print("the result of comparison:")
comparThem()